.hero-features {
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(
    180deg,
    var(--buttercream),
    var(--meringe)
  );
}

/* ================= HERO ================= */

.hero {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px 20px;
}

.hero h1 {
  font-size: 56px;
  font-weight: 900;
  color: var(--blueberry);
  margin: 0;
}

.hero .accent {
  color: var(--strawberry);
}

.hero h2 {
  max-width: 700px;
  margin: 24px auto 32px;
  font-size: 17px;
  color: var(--text-dark);
  opacity: 0.85;
}

.hero input {
  width: 360px;
  height: 52px;
  border-radius: 30px;
  border: none;
  padding: 0 22px;
  background: white;
}

/* ================= FEATURES ================= */

.features {
  margin-top: 10px;
  padding: 20px 20px 30px;

  display: flex;
  justify-content: center;
  gap: 40px;
}

/* CARD */
.feature {
  width: 300px;
  height: 270px;
}

/* IMAGE BOX */
.img-box {
  position: relative;
  width: 100%;
  
  overflow: hidden;

  background: #000;
  box-shadow: 0 28px 60px rgba(0,0,0,0.28);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.img-box:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0 45px 90px rgba(0,0,0,0.4);
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, filter 0.6s ease;
  border-radius: 50px;

}

.img-box:hover img {
  transform: scale(1.12);
  filter: brightness(0.75);
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.25),
    transparent
  );

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding-bottom: 24px;
  opacity: 1;
}

/* TEXT */
.overlay h3 {
  color: white;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 0 6px 20px rgba(0,0,0,0.6);
}

/* MOBILE */
@media (max-width: 900px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
}


/* ================= MOBILE ================= */

@media (max-width: 900px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero input {
    width: 90%;
  }
}
