.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(12px);
}

.logo{
  font-size: 26px;
  font-weight: 900;
  color: var(--strawberry);
}

.links{
  display: flex;
  gap: 28px;
}

.links a{
  color: var(--text-dark);
  font-weight: 600;
}

.start-btn{
  padding: 10px 22px;
  border-radius: 22px;
  background: linear-gradient(135deg, var(--strawberry), var(--violet));
  color: white;
  font-weight: 700;
}
